.card {
    background-color: #010101;
    width: 450px;
    padding: 40px;
    border-radius: 10px;
    font-size: 18px;
    align-items: center;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}

.title {
    text-align: center;
    color: #fffbfb;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.description {
    margin-top: 10px;
    color: #fff; 
    text-align: justify;
}

.description p {
    margin: 5px 0; 
}

