.card {
    background-color: #010101;
    width: 450px;
    padding: 30px;
    border-radius: 10px;
    font-size: 18px;
}

.title {
    text-align: center;
    color: #fffbfb;
}

.sinopse {
    text-align: left;
    color: #fffbfb;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px; 
}

.image {
    max-width: 80%;
    height: auto;
}

.description {
    margin-top: 10px;
    color: #fff; 
}

.description p {
    margin: 5px 0; 
}

.type {
    margin-top: 10px;
    color: #fff; 
}

.type p {
    margin: 5px 0; 
}

.time {
    margin-top: 10px;
    color: #fff; 
}

.time p {
    margin: 10px 0; 
}

.movieInfo {
    text-align: center; 
    margin-top: 10px; 
}
  