.card {
    background-color: #010101;
    width: 450px;
    padding: 40px;
    border-radius: 10px;
    font-size: 18px;
    align-items: center;
    
}

.title {
    text-align: center;
    color: #fffbfb;
    font-size: 24px;
}

.sinopse {
    text-align: left;
    color: #fffbfb;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px; 
}

.movieInfo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.icon {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #ece5e5;
}

.icon > div {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.icon svg {
    height: 24px; 
    width: auto; 
    margin-right: 8px; 
}

.icon p {
    margin: 0; 
    font-size: 16px; 
    line-height: 24px; 
}

.image {
    max-width: 80%;
    height: auto;
}

.description {
    margin-top: 10px;
    color: #fff; 
    text-align: justify;
}

.description p {
    margin: 5px 0; 
}

.type {
    margin-top: 10px;
    color: #fff; 
}

.type p {
    margin: 5px 0; 
}

.time {
    margin-top: 10px;
    color: #fff; 
}

.time p {
    margin: 10px 0; 
}

.movieInfo {
    text-align: center; 
    margin-top: 10px;
}
  