.divPersonagens {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    background: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExODA4cDdjbHMydmVlMW40dGp1aG42eHFicjk1cHY4aDV5ZWw4ODBuMSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/UYBDCJjwOd9Re/giphy.gif');
    background-size: 100% auto;
    
}

.titlePersonagens {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 50px;
    margin-top: 30px;
    color: #fffbfb;
}
  
.charactersGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
  
.characterCard {
    text-align: center;
    color: #fff;
    cursor: pointer; 
    font-size: 14px;
}

.characterImageName {
    width: 280px;
    height: 320px;
    object-fit: cover;
    border-radius: 8px;
}
  
.searchIcon {
    position: absolute;
    top: 30px; 
    right: 50px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    color: #fff;
}

.searchIcon input {
    padding: 10px; 
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #fff; 
    border-radius: 4px; 
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    width: 200px; 
}

.linkHome {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fbfbfb;
    margin-top: 30px;
}

.linkMovieDetails {
    position: absolute;
    top: 30px; 
    left: 50px; 
    cursor: pointer; 
    color: #fff;
}

.noResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    margin-top: 30px;
}

.noResults img {
    margin-top: 20px; 
    width: 300px;
    margin-block: 60px;
}