.imageText {
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 110px; 
    color: #8B4513; 
    opacity: 0; 
    margin-bottom: 800px; 
    font-weight: bold;
    font-family: Andale Mono, monospace; 
  

    animation: fadeInUp 1s forwards;
  }
  
  @keyframes fadeInUp {
    from {
      bottom: -40px;
      opacity: 0;
    }
    to {
      bottom: 20px; 
      opacity: 1;
    }
  }

.all-movies {
  display: flex;
  justify-content: center;
  gap: 200px; 
  flex-wrap: wrap;
  margin-top: 20px; 
}

.roundedImageWrapper {
    overflow: hidden;
    border-radius: 50px; 
    width: 80%; 
    margin: 0 auto;
    margin-top: 70px; 
}
  
.roundedImageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.navigationButton {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 120px;
    cursor: pointer;
    z-index: 1;
    color: #fff; 
    transition: color 0.3s; 
  }
  
  .prevButton {
    left: 10px; 
  }
  
  .nextButton {
    right: 10px; 
  }
  
  .navigationButton:hover {
    color: #3e2929; 
  }

.movieNumber {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    padding: 8px;
    border-radius: 4px;
    font-size: 150px;
    color: #5d5f62;
}
  
.movies {
  width: 200px;
  height: 300px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
  text-align: center;
  background-color: #222; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.movies img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #444; 
  transition: transform 0.5s;
}

.movies:hover {
  transform: scale(1.05);
}

.mainImageWrapper {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  overflow: hidden;
  border: 2px solid #444;
  margin: 20px auto;
  background: #111;
  position: relative;
  opacity: 0.4; 
  transition: opacity 0.5s; 
}

.mainImageWrapper:hover {
    opacity: 1;
}
  
.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s; 
}

.mainImage:hover {
  transform: scale(1.1);
}

.bodyWrapper {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  background: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExODA4cDdjbHMydmVlMW40dGp1aG42eHFicjk1cHY4aDV5ZWw4ODBuMSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/UYBDCJjwOd9Re/giphy.gif');
  background-size: 100% auto;
  min-height: 100vh;
}

.linkWrapperUser {
  position: absolute;
  top: 5px;
  right: 15px; 
  display: flex;
  align-items: center;
  z-index: 5;
}

.linkWrapperUser a {
  color: #fff;
  text-decoration: none;
  margin-right: 16px;
}

.linkWrapperUser a:hover {
  text-decoration: underline;
}

.linkWrapperHouses {
  position: absolute;
  top: 5px;
  right: 30px; 
  display: flex;
  align-items: center;
  z-index: 5;
}

.linkWrapperHouses a {
  color: #fff;
  text-decoration: none;
  margin-right: 16px;
}

.linkWrapperHouses a:hover {
  text-decoration: underline;
}

