.background {
    background: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExODA4cDdjbHMydmVlMW40dGp1aG42eHFicjk1cHY4aDV5ZWw4ODBuMSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/UYBDCJjwOd9Re/giphy.gif');
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.linkReg {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fffbfb;
    margin-bottom: 10px;
}

.linkHome {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fbfbfb;
    margin-top: 10px;
}

.errorMsg {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.inputContainer input {
    width: 100%;
    height: 45px;
    padding: 0 5px 0 40px;

}

.icon {
    position: absolute;
    right: 10px;
    color: #fffbfb;
    align-items: center;
    cursor: pointer;
}
  