html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#site {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./img.jpeg");
}

#modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color:darkgrey;
    padding: 15px 15px 0px 15px;
}

#text {
    overflow: auto;
}

Button {
    margin: 20px;
}
