.background {
    background: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExODA4cDdjbHMydmVlMW40dGp1aG42eHFicjk1cHY4aDV5ZWw4ODBuMSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/UYBDCJjwOd9Re/giphy.gif');
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    position: relative; 
}
  
.cardsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 20px;
}
  
.linkHome {
    position: absolute;
    top: 30px;
    left: 20px;
    cursor: pointer;
    color: #fff;
}

.buttonPersonagens {
    background-color: rgb(5, 2, 26);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    bottom: 7px; 
    padding: 16px;
    cursor: pointer;
}

.iconLike {
    display: flex;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    bottom: 3px; 
    padding: 10px;
    cursor: pointer;
}

.iconDislike {
    display: flex;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    left: 63%;
    transform: translateX(-50%);
    bottom: 3px; 
    padding: 10px;
    cursor: pointer;
}

.icons svg {
    margin-right: 5px;
}

.iconLike:active {
    background-color: rgb(5, 2, 26);  
    color: rgb(5, 2, 26);
}

.iconDislike:active {
    background-color: red;  
    color: red;
}